
html {
	background: #7f99b2 url(../images/frontPagePicture.jpg) no-repeat left center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

h1 {
	color:white;
	font-family: "Scheherazade", serif;
	font-weight: 100;
	font-size: 4em;
	margin: 5px;
}

h3 {
	color: #005cb8;
	font-family: "Scheherazade", serif;
	font-weight: 500;
	font-size: 1.2em;
	margin: 5px;
}

p {
	margin:10px;
}

a {
	text-decoration: none;
	opacity: 1;
	transition: opacity 2s ease;
    -webkit-transition: opacity 2s ease;
    color: white;
}

a:hover {
	opacity: 0;
	color: #005cb8;
}


.titles {
  	position: absolute;
    left: 40px;
    bottom: 80px;
    margin: 3%;
    opacity: 1;
    transition: opacity 3s ease;
    -webkit-transition: opacity 3s ease;
}

.titles:hover {
	opacity: 0;
}

.page {
	width:90%;
	height:100%;
}

.menu {
	float: left;
	color: white;
	font-size: 1.1em;
	font-family: "Cutive Mono", Arial;
	font-weight: lighter;
    margin: 2%;
  
}

#areas ul {
	list-style-type: none;
	line-height: 1.9em;
	margin: 0em;
}

#areas p {
	margin-bottom: 0;
}


.social {
	position: absolute;
	top: 20px;
	right: 20px;
}


/* for short height*/
@media screen and (max-height: 450px) {

	.titles {
	  	position: absolute;
	    left: 440px;
	    bottom: 100px;
	}
}


/* for small width & MOBILE*/
@media screen and (max-width: 900px) {

	html {
		background-size: 360% auto;
		background-position: right top;
	}

	.titles {
		position: absolute;
		margin: 0 0 0 -160px; /* negative margin = CENTERED */
		text-align: center;
		top: 0;
		left: 50%;
    	bottom: 0;
		transition: none;
		opacity: 1;
		z-index: -1;
	}
	
	.titles:hover {
		opacity: 1;
	}	

	.menu {
		position: absolute;
		left: 50%;
		top: 3em;
		margin-left: -165px; /* negative margin = CENTERED */
		text-align: center;
		color: #005cb8;
		font-size: 3em;
		font-weight: bolder;
		line-height: 2em;


	}

	.social {
		position: absolute;
		top: 51em;
		left: 1%;
		margin: 4%;
	}	
}










/* 

---------------------404  PAGE  NOT  FOUND---------------------
---------------------404  PAGE  NOT  FOUND---------------------
---------------------404  PAGE  NOT  FOUND---------------------

*/

#fourofour h1 {
	color: #005cb8;
	text-shadow: 1px 1px 5px #3d444e;
}

#fourofour h3 {
	color: white;
	padding: 3%;
	text-shadow: 1px 2px 6px #3d444e;
}

@media screen and (max-width: 900px) {

	#fourofour .titles {
		width: 90%;
		margin: 0 0 0 -45%; /* negative margin = CENTERED */
	}
}

